body, html {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0px auto;
  padding: auto;
}

.backgound {
  background-image: url('assets/background.png');
  
  /* Add the blur effect */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  }

.header {
  background-color: rgb(67, 67, 67);
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 0%;
  left: 0%;
  border-radius: 5px;
  width: 100%;
  font-size: large;
}

.restaurant-name {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}


.slogan {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  height: 600px;
  border-radius: 5px;
  backdrop-filter: blur(8px);
  
  /* Black w/opacity/see-through */
  background-color: rgba(255, 255, 255, 0.4); 
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 00px 00px 00px 00px;
  overflow: auto;
  
}

.grid-container {
  display: grid;
  grid-template-areas:
  'ramen ramen specials specials'
  'ramen ramen specials specials'
  'footer footer footer footer';
  gap: 0px;
  padding: 20px;
}

.footer { grid-area: footer; }
.specials { grid-area: specials; }
.ramen { grid-area: ramen; }

.ramen img{
  padding: 0px;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  height: 400px;
  margin: 0px auto; 
  border-radius: 5px;
  box-shadow: 10px 10px 5px rgb(44, 44, 44);
}

.special-icon {
  width: 50px;
  height: 70px;
  margin-right: 10px;
}


.specials {
  padding: 20px;
  align-content: space-around;
}

.special-item {
  align-items: center;
  margin-bottom: 10px;
}


.special-text {
  font-size: 10px;
  color: #151515;
}

.cta-button {
  display: block;
  width: 200px;
  margin: 40px auto;
  padding: 15px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}

.footer {
  text-align: left;
}

.footer .descrition {
  text-align:  left; 
  font-size: 20px;
  padding: 0px;
}




