.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
    'header header main menu'
    'header header main menu'
    'header header main right'
    'header header main right'
    'footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.header {
  background-color: rgb(209, 58, 58);
  height: 450px;
}

.main {
  background-color: rgb(0, 191, 255);
  height: 450px;
}

.footer {
  background-color: rgb(217, 255, 0);
  height: 100px;
}

.menu {
  background-color: rgb(97, 24, 95);
  height: 200px;
}

.right {
  background-color: rgb(39, 180, 60);
  height: 200px;
}